html, body {
  color: #fff;
  background-color: #282828;
}

button, input {
  padding: 10px;
  width: 150px;
  margin: 10px;
}

button {
  cursor: pointer;
}

.container {
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

#join-btn {
  background-color: darkgray;
  border: 0;
}

#call-btn {
  background-color: skyblue;
  border: 0;
}